{# src/BlogJF/BlogBundle/Resouces/views/Blog/show.html.twig #}
{% extends 'BlogJFBlogBundle::layout.html.twig' %}

{% block title %}{{ billet.titre }}{% endblock %}

{% block body %}
    <article class="blog">
        <header>
            <h2>{{ billet.titre }}</h2>
        </header>
        <div>
            <p>{{ billet.roman }}</p>
        </div>
    </article>

    <section class="commentaires" id="commentaires">
        <section class="previous-comments">
            <h3>Commentaires</h3>
            {% set id_prec = 0 %}
            {% for commentaire in commentaires %}
                {% if id_prec == commentaire.parentid and id_prec != 0 %}
                    <div style="margin-left: 50px;">
                        <article class="comment {{ cycle(['odd', 'even'], loop.index0) }}" id="comment-{{ commentaire.id }}">
                            <div id="comment">
                                <header>
                                    <p><span class="highlight">{{ commentaire.auteur }}</span>, <time datetime="{{ commentaire.date|date('c') }}">{{ commentaire.date|localizeddate('none', 'none', null, null,'EEEE d MMMM Y') }}</time></p>
                                </header>
                                <p>{{ commentaire.commentaire }}</p>
                                <input type="submit" class="btn btn-default" id="btn_repondre" value="Répondre" />
                            </div>
                        </article>
                    </div>
                {% else %}
                    <div>
                        <article class="comment {{ cycle(['odd', 'even'], loop.index0) }}" id="comment-{{ commentaire.id }}">
                            <div id="comment">
                                <header>
                                    <p><span class="highlight">{{ commentaire.auteur }}</span>, <time datetime="{{ commentaire.date|date('c') }}">{{ commentaire.date|localizeddate('none', 'none', null, null,'EEEE d MMMM Y') }}</time></p>
                                </header>
                                <p>{{ commentaire.commentaire }}</p>
                                <input type="submit" class="btn btn-default" id="btn_repondre" value="Répondre" />
                            </div>
                        </article>
                    </div>
                {% endif %}
                {% set id_prec = commentaire.id %}
            {% endfor %}

            <br/><br/>

            <h4>Poster un commentaire</h4>
            <head>
                <script src="//cloud.tinymce.com/stable/tinymce.min.js?apiKey=e12o1hm518doi0e8ggudjjxsvqs4aq2n92actaftp4bkmynv"></script>
                <script>tinymce.init({ selector:'textarea' });</script>
            </head>
            <body>
                <textarea placeholder="Votre commentaire"></textarea>
            </body>
        </section>
    </section>

    <a href="{{ path('blogjf_accueil') }}"><input type="button" class="btn btn-danger" value="Annuler" /></a>
    <input type="submit" class="btn btn-default" value="Valider" />

{% endblock %}